@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    font-family: roboto;
}

.estilo-pagina {
    border: 1px solid red;
    width: 70%;
    margin: 4% auto;
}

.caixa-opcao {
    position: relative;
}

.titulo-principal {
    font-size: 50px;
    font-family: "Abril Fatface", cursive;
    font-weight: bold; 
    display: inline;
    color: rgb(0, 0, 19);
}

nav {
    float: right;
    margin: 20px 0 0;
    
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
    color: rgb(71, 71, 151);
}

.div-inicial {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.parte-pagina {
    width: 63%;
    border: 1px solid blue;

}

.parte-pagina img {
    width: 100%;
    
}

.escrita-pagina{
    margin: 1.5em 0 0 0;
    display: flex;
    justify-content: space-between;
}

.titulo-pagina {
    width: 50%;
    border: 1px solid green;
    font-size: 4em;
    font-weight: bolder;
    color: rgb(0, 0, 19);
}

.texto-pagina{
    width: 50%;
    border: 1px solid pink;
    line-height: 1.5em;    
}

.botao-readme {
    text-decoration: none;
    display: inline-block;
    margin: 3em 0 0 0;
    width: 50%;
    padding: 2%;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background: #f15d51;
    border: 1px solid lime;

}

.div-lateral {
    width: 30%;
    background: #00001a;
    border: 1px solid darkmagenta;
    padding: 2%;
}

.div-lateral h1{
    font-weight: bolder;
    color: orange;
    font-size: 40px;
    padding: 0 0 5% 0;
}

.div-lateral h2 {
    font-weight: bolder;
    color: white;
    font-size: 20px;
    padding: 10% 0 2% 0;
}

.div-lateral p {
    color: white;
    padding: 3% 0 7% 0;
    /* letter-spacing: 4px; */
    line-height: 20px;
}

.lateral-borda {
    /* padding: 5% 0; */
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}